<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <img class="mt-auto mb-auto" id="logo_isf_navbar" src="assets/images/favicon.ico" alt="icono isf">
        <a class="navbar-brand" href="index.html">
            <strong>ISF</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="lecture">Lectureship Awards</a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link" routerLink="congress">Congress</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>