<nav style="{{ showSubNavbar }}" class="navbar navbar-expand-lg bg-light shadow-lg subNavbar">
    <div class="container">
        <!-- <img class="mt-auto mb-auto" id="logo_isf_navbar" src="assets/images/favicon.ico" alt="icono isf"> -->
        <a class="navbar-brand" href="{{ section }}">
            <strong>{{ subTag }}</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAbout" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAbout">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active" *ngFor="let subRoute of subRoutes">
                    <a class="nav-link" href="{{ subRoute.subRoute }}" >{{ subRoute.subLabel }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>