<!-- 
-Members

-History

-Constitution -->

<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <!-- <img class="mt-auto mb-auto" id="logo_isf_navbar" src="assets/images/favicon.ico" alt="icono isf"> -->
        <a class="navbar-brand" href="about">
            <strong>About</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAbout" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAbout">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#aboutMembers" >Members</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#aboutHistory">History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#aboutConstitution">Constitution</a>
                </li>

                <!-- <li class="nav-item" >
                    <a class="nav-link" href="congress">Congress</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>


<div class="container mb-5 pb-lg-5" id="aboutMembers">

    <div class="row section-padding">
        <div class="col-12">
            <h2 class="mb-3 fs-3" data-aos="fade-up">Representative(s) to ISF</h2>
        </div>
        <!-- <div class="col-12">
            <h2 class="mb-3 fs-5" data-aos="fade-up">The member organization that hosts the ISF Lectureship Series must:</h2>
        </div> -->



        <div class="col-lg-6 col-12 mt-3 mb-lg-5">
            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Asociacion Argentina De Grasas &amp; Aceites</strong><br>
                ISF Secretariat<br>
                Web:&nbsp;<a href="http://www.asaga.org.ar/" target="_blank">www.asaga.org.ar</a><br>
            </p>

            <p data-aos="fade-up" data-aos-delay="500">
                <strong>All-Russia Scientific Research Institute of Fats (ARSRIF)</strong><br>
                Web:&nbsp;<a href="http://www.vniifats.ru/" target="_blank" rel="noopener">www.vniifats.ru</a><br>
            </p>  

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Benelux Lipid Network</strong><br>
                Web:&nbsp;<a href="http://www.mvo.nl/benelux-lipid-network" target="_blank">www.mvo.nl/benelux-lipid-network</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Czech Chemical Society, Section on Fats &amp; Oils, Detergents &amp; Cosmetic Chemistry</strong><br>
                Web:&nbsp;<a href="http://www.csch.cz/" target="_blank">www.csch.cz</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>European Federation for the Science and Technology of Lipids (EuroFedLipid)</strong><br>
                Web:&nbsp;<a href="http://www.eurofedlipid.org/" target="_blank">www.eurofedlipid.org</a><br>
            </p>


            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Hungarian Scientific Society for Food Industries</strong><br>
                Web:&nbsp;<a href="https://www.effost.org/home/default.aspx" target="_blank">www.effost.org</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Japan Oil Chemists' Society (JOCS)</strong><br>
                Web:&nbsp;<a href="http://www.jocs.jp/index-e.html" target="_blank">www.jocs.jp</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Latin American Section, American Oil Chemists' Society</strong><br>
                Web:&nbsp;<a href="http://www.aocs.org/network-and-connect/membership/sections#latin-american-section">www.aocs.org</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Meat and Fat Research Institute</strong><br>
                Web:&nbsp;<a href="http://www.ipmt.waw.pl/" target="_blank">www.ipmt.waw.pl</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Nordic LipidForum for Lipid Research and Technology</strong><br>
                Web:&nbsp;<a href="http://lipidforum.info/" target="_blank">www.lipidforum.info</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Pakistan Oil Technologist's Society, Oils, Fats and Waxes Division</strong><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Society of Chemical Industry (SCI)-The Lipids Group</strong><br>
                Web:&nbsp;<a href="https://www.soci.org/interest-groups/lipids" target="_blank">www.soci.org</a>
            </p>



            
            
            
        </div>






        <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">


            <p data-aos="fade-up" data-aos-delay="500">
                <strong>American Oil Chemists' Society (AOCS)</strong><br>
                Web:&nbsp;<a href="http://www.aocs.org/">www.aocs.org</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Australian Oilseeds Federation, Inc. (AOF)</strong><br>
                Web:&nbsp;<a href="http://www.australianoilseeds.com/" target="_blank">www.australianoilseeds.com</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Canadian Section, American Oil Chemists' Society</strong><br>
                Web:<a href="https://www.aocs.org/network-and-connect/membership/sections#canadian-section" target="_blank">&nbsp;https://www.aocs.org</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Deutsche Gesellschaft für Fettwissenschaft e.V. (DGF)</strong><br>
                Web:&nbsp;<a href="http://www.dgfett.de/index_en.php" target="_blank">www.dgfett.de</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Food Industry Research &amp; Development Institute (FIRDI)</strong><br>
                Web:&nbsp;<a href="http://www.firdi.org.tw/" target="_blank">www.firdi.org.tw</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Korean Society of Food Science and Technology-Lipid Science Division</strong><br>
                Web:&nbsp;<a href="http://www.kosfost.or.kr/" target="_blank">www.kosfost.or.kr</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Malaysian Oil Scientists' &amp; Technologists' Association (MOSTA)</strong><br>
                Web:&nbsp;<a href="https://mosta.org.my/" target="_blank">www.mosta.org.my</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>National Research Centre</strong><br>
                Web:&nbsp;<a href="http://www.nrc.sci.eg/" target="_blank">www.nrc.sci.eg</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Oil Technologists Assn. of India (OTAI)</strong><br>
                Web:&nbsp;<a href="http://www.otai.org/" target="_blank">www.otai.org</a><br>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Societe Francaise pour L'etude des Lipides</strong><br>
                Web:&nbsp;<a href="http://www.sfel.asso.fr/" target="_blank">www.sfel.asso.fr</a>
            </p>

            <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                <strong>Societá Italiana Per lo Studio Delle Sostanze Grasse</strong><br>
                Web:&nbsp;<a href="http://www.sissg.it/">www.sissg.it</a><br>
            </p>



        </div>

    </div>                    

</div>












<div class="container section-padding" id="aboutHistory">
    <div class="row">

        <div class="col-12">
            <h2 class="mb-5 text-center" data-aos="fade-up">ISF Congress History</h2>
        </div>

        <div class="mt-lg-3 mb-lg-5">
            <p data-aos="fade-up" data-aos-delay="500">
                ISF organizes international congresses on fats and oils, with each congress headed by an internationally known scientist or technologist who acts as president of ISF until the following congress. Although all of the Congresses have been scientifically successful, several have been adversely influenced by political situations.
            </p>
        </div>

        <div class="mt-lg-3 mb-lg-5">
            <p data-aos="fade-up" data-aos-delay="500">
                <strong>1983</strong> <br>
                The Congress in Budapest was originally scheduled for Gdansk, but had to be moved late in the planning because of labor strikes in Poland. <br>
                <br>
                <strong>1985</strong> <br>
                ISF meeting in New Delhi had to be suddenly postponed only hours before it opened because of the assassination of India's Prime Minister. <br>
                <br>
                <strong>1991</strong> <br>
                The Congress was organized in The Hague but the Gulf War intervened. After the outbreak of the war, registration stopped completely. Many companies issued travel restrictions and as a result, speakers canceled their contributions. Under these circumstances there was no other option than to cancel the Congress. This event eventually led to the restructuring of ISF to what it is today. <br>
                <br>
                <strong>2001</strong> <br>
                The Congress was hindered once again--this time by terrorist attacks in the United States just four days prior to the beginning. All air travel into and out of the U.S. was halted in the wake of the attacks. The local organizing committee, with additional help from the Secretariat via telephone, assumed on-site management of the Congress and did an outstanding job of presenting the program to the delegates. Because of its leadership, the Congress was able to proceed as planned. <br>
                <br>
                <strong>2005</strong> <br>
                Recognizing the increasing number of congresses pertaining to professionals involved in the science of fats, oils, and lipids, the ISF Board of Directors decided in to discontinue sponsorship of its own Congress and offer plenary lectures at a regularly scheduled meeting of one of its member organizations. Still offered on a biannual basis, the inaugural offering of the “ISF Lectureship Series” was held in 2007 during the 98th AOCS Annual Meeting & Expo. <br>
                <br>
                <strong>2011</strong> <br>
                The 2011 JOCS World Congress on Oleo Science was scheduled to be the site of the 2011 ISF Lectureship Series. However, JOCS leaders decided to postpone their meeting (and the ISF Lectures) to 2012 because of the devastation resulting from the March 2011 earthquake and tsunami in Japan. <br>
            </p>
        </div>
        
        <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
            <p data-aos="fade-up" data-aos-delay="500">
                <strong>ISF Congresses:</strong> (Date - Location, ISF President) <br>
                1956—Milano, C. Jacini <br>
                1957—Paris, C. Paquot <br>
                1958—Sevilla, J. Martinez-Moreno <br>
                1959—Graz, G. Gorbach <br>
                1960—Gdansk, N. Niewiadomski <br>
                1962—London, E. C. Woodroofe <br>
                1964—Hamburg, H.P. Kaufmann <br>
                1966—Budapest, J. Hollo <br>
                1968—Rotterdam, J. Boldingh <br>
                1970—Chicago, W. O. Lundberg <br>
                1972—Göteborg (joint meeting with Lipidforum), S. Bergstrom <br>
                1974—Milano, R. Paoletti <br>
                1976—Marseille, M. Naudet <br>
                1978—Brighton, K. H. Velthuis <br>
                1980—New York, S. S. Chang <br>
                1983—Budapest, J. Hollo <br>
                1985—New Delhi (joint meeting with the Oil Technologists' Association of India), S. C. Singhal <br>
                1986—Münster (joint meeting with DGF), B. W. Werdelmann <br>
                1988—Tokyo (joint meeting with the Japan Oil Chemists' Society), A. Mori <br>
                1991—The Hague, J. Nieuwenhuis <br>
                1992—Toronto, (joint meeting with the American Oil Chemists' Society), J. Beare-Rogers <br>
                1995—The Hague, J.Nieuwenhuis <br>
                1997—Kuala Lumpur, A. Ong <br>
                1999—Brighton, D. Robinson <br>
                2001—Berlin, F. Spener <br>
                2003—Bordeaux, S. Claude <br>
                2005—Prague, P. Seifert <br>
            </p>
        </div>

        <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
            <p data-aos="fade-up" data-aos-delay="500">
                <strong>ISF Lectureship Series:</strong> (Date—Location, ISF President): <br>
                2007—Québec City, D. Foster <br>
                2009—Sydney, R. Mailer  <br>
                2012—Sasebo, H. Shimasaki  <br>
                2013—Antalya, M. Kellens  <br>
                2015—Rosario, M. Tomás  <br>
                2016—Kuala Lumpur, Yuen-May Choo <br>
                2018—Minneapolis, L. Sidisky <br>
                2020—Sydney, R. Mailer <br>
                2022—Kushiro, K. Miyashita <br>
            </p>
        </div>
        


    </div>
</div>




<section class="section-padding pb-0" id="aboutConstitution">
    <div class="container mb-5 m-auto pb-lg-5">
        <div class="row">
            <div class="col-12 text-center">
                <a href="https://www.aocs.org/documents/ISF/ISFConstitution.pdf">
                    <h2 class="mb-3 fs-2 m-auto" data-aos="fade-up">Download Constitution (PDF)</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="container mb-5 m-auto pb-lg-5">
        <div class="row">
            <div class="col-12 text-center">
                <img class="img-fluid img-content" src="assets/images/constitution.jpg" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
            </div>
        </div>
    </div>
    <br><br><br>
</section>