<!-- <div class="img-banner">
    <img class="img-fluid" src="assets/images/WCOF_ISF_banner.png" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
</div>



<div class="img-banner-sm">
    <img class="img-fluid" src="assets/images/WCOF_ISF_a.jpg" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
</div> -->



<section class="section-padding pb-0" id="home">
    <div class="container mb-1 pb-0">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 fs-4" data-aos="fade-up">Stimulating the exchange of high quality scientific information and technology pertaining to fats, oils, and related materials.</h2>
            </div>

            <div class="col-12 mt-3 mb-lg-5">
                <p class="me-4" data-aos="fade-up" data-aos-delay="300">Founded in 1954, ISF is a federation of 23 regional and national scientific organizations active in the areas of fats, oils, and lipid research.</p>
            </div>

        </div>
    </div>

    <div class="container mb-5 pb-lg-5">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3 fs-5" data-aos="fade-up">
                    Membership is open to national or regional organizations that are non-commercial, individual membership societies serving the interests of professionals in fields pertaining to fats, oils, and lipids-related materials and their products.
                </h3>
            </div>
            <div class="col-12">
                <h2 class="mb-3 mt-5 fs-5" data-aos="fade-up">Governed by two bodies:</h2>
            </div>

            <div class="col-lg-6 col-12 mt-3 mb-lg-5">
                <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                        - The Executive Board includes up to two representatives from each organization that is eligible to host the ISF Lectureship Series
                </p>
            </div>

            <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                <p data-aos="fade-up" data-aos-delay="500">
                        - The Extended Board consists of a maximum of two representatives from all ISF member organizations
                </p>
            </div>



            <br><br><br><br><br><br>

            <div class="col-12">
                <h2 class="mb-3 mt-5 fs-5" data-aos="fade-up">### HOJA DE RUTA DE LO MAS IMPORTANTE DEL SITIO (armar) ###</h2>
            </div>

        </div>
    </div>

</section>