
<section class="pb-lg-5 contact" id="contact">
    <div class="container">
        <div class="row">
            
            
            <div class="col-lg-7 col-12 mx-auto">
                
                <h2 class="mb-2 text-center" data-aos="fade-up">Contact ISF Secretariat</h2>
                
                <p data-aos="fade-up" data-aos-delay="200">
                    The Secretariat of the ISF shall reside in ASAGA (Argentine Association of fats &amp; oils) as the organization that will host the next ISF meeting.
                </p>
                
                <div class="row">
                        
                        <div class="col-12 my-2">
                            <p>
                                <strong>Address: </strong> Tucumán 2501 - (S2000JVG) Rosario - Argentina
                            </p>
                        </div>

                        <div class="col-12 my-2">
                            <p>
                                <strong>Phone:</strong> +54 341 4391761 / 4373845
                            </p>

                        </div>

                        <div class="col-12 my-2">
                            <p>
                                <strong>ISF Secretariat:</strong> R.Spera@ISFat.org
                                <br>
                                <br>
                                <strong>ISF President:</strong> E.Dubinsky@ISFat.org
                            </p>

                            
                        </div>
                </div>
                    
            </div>

        </div>
    </div>
</section>

