<div class="img-banner">
    <img class="img-fluid" src="assets/images/WCOF_ISF_banner.png" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
</div>



<div class="img-banner-sm">
    <img class="img-fluid" src="assets/images/WCOF_ISF_a.jpg" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
</div>


<section class=" contact section-padding" id="suscribe">
    <div class="container">
        <div class="row">
            
            
            <div class="col-lg-7 col-12 mx-auto">
                
                <h2 class="mb-2 text-center" data-aos="fade-up">Suscribe</h2>
                
                <!-- <p data-aos="fade-up" data-aos-delay="200">
                    ### Botón para suscribirse a novedades del nombre y que notifique pronto habrá más novedades. ###
                </p> -->
            </div>
        </div>
    </div>
</section>



