<div class="img-banner">
    <img class="img-fluid" src="assets/images/WCOF_ISF_banner.png" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
</div>



<div class="img-banner-sm">
    <img class="img-fluid" src="assets/images/WCOF_ISF_a.jpg" alt="World Congress on oils & fats and ISF Lectureship Series Banner">
</div>

<section class="contact section-padding" id="suscribe">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-12 mx-auto">
          <h2 class="mb-2 text-center" data-aos="fade-up">Subscribe</h2>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="inputName" class="form-label">Name</label>
              <input type="text" class="form-control" id="inputName" formControlName="name">
              <div *ngIf="myForm?.get('name')?.hasError('required') && myForm?.get('name')?.touched"
                class="text-danger">Name is required.</div>
            </div>
            <div class="mb-3">
              <label for="inputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="inputEmail1" formControlName="email">
              <div *ngIf="myForm?.get('email')?.hasError('required') && myForm?.get('email')?.touched"
                class="text-danger">Email is required.</div>
              <div *ngIf="myForm?.get('email')?.hasError('email') && myForm?.get('email')?.touched"
                class="text-danger">Invalid email format.</div>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div *ngIf="successMessage" class="text-success">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
          </form>
        </div>
      </div>
    </div>
  </section>
