<footer class="site-footer mt-5">
    <div class="container">
        <div class="row">

                <a href="mailto:info@isfat.org" class="custom-link mt-3 mb-5">
                    info@isfat.org
                </a>
            </div>

            <div class="col-6 mb-auto mt-auto" >
                <p class="copyright-text mb-0">Copyright © ISF 2024 
                
                <br><br>Design: <a href="mailto:silvanicolasprog@gmail.com">Silva Nicolás silvanicolasprog@gmail.com</a></p>
            </div>


        </div>
</footer>