<section class="hero" id="home">
    <div class="heroText">
        <img class="mb-3" id="logo_isf" src="assets/images/ISF_logo.png" alt="ISF_logo">
        <h1 id="tituloh1" class="text-white mt-3 mb-lg-1 fs-3" data-aos="zoom-in" data-aos-delay="800">
            The International Society for Fat Research
        </h1>
    </div>

    <div class="videoWrapper">
        <img class="img-fluid" src="assets/images/iStock-1205260350.jpg" alt="Aceite">
    </div>

    <div class="overlay"></div>
</section>