<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <!-- <img class="mt-auto mb-auto" id="logo_isf_navbar" src="assets/images/favicon.ico" alt="icono isf"> -->
        <a class="navbar-brand" href="lecture">
            <strong>Lectureship Awards</strong>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavLecture" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavLecture">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#lectureHistory" >History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#lecureLastest">Lastest award-winning conferences</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="#aboutConstitution">Constitution</a>
                </li> -->

                <!-- <li class="nav-item" >
                    <a class="nav-link" href="congress">Congress</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li> -->

            </ul>
        </div>
    </div>
</nav>



<section class="section-padding pb-0" id="lectureHistory">

    <div class="col-12">
        <h2 class="mb-5 text-center" data-aos="fade-up">ISF Lecture Awards</h2>
    </div>

    <div class="container mb-lg-5">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3 fs-5" data-aos="fade-up">
                    Through the years, the lecturers have been among the best-known names in international fats and oils science; the topics have reflected the ever-widening scope of international fats and oils science.
                </h4>
            </div>
            <div class="col-12">
                <h2 class="mb-3 fs-5" data-aos="fade-up">Award Winners:</h2>
            </div>

            <div class="col-lg-6 col-12 mt-3 mb-lg-5">
                <p class="me-4" data-aos="fade-up" data-aos-delay="300">
                    1974—Prof. Dr. A. Seher, Münster, Germany <br>
                    1976—Prof. Dr. F. D. Gunstone, St. Andrews, UK <br>
                    1978—Dr. J. C. Metcalfe, Cambridge, UK <br>
                    1980—Prof. Dr. R. G. Ackman, Halifax, Canada <br>
                    1983—Prof. Dr. K.F. Gander, Hamburg, Germany <br>
                    1984—Prof. Dr. T. Kaneda, Tokyo, Japan <br>
                    1986—Prof. Dr. H. C. R. Paoletti, Milano, Italy <br>
                    1988—Prof. Dr. A. S. H. Ong, Kuala Lumpur, Malaysia <br>
                    1992—Prof. N. Zollner, Munich, Germany <br>
                    1995—Dr. E. Frankel, California, USA <br>
                    1997—Dr. John M. de Man, Ontario, Canada <br>
                    1999—Dr. Jean Graille, Montpellier, France
                </p>
            </div>

            <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                <p data-aos="fade-up" data-aos-delay="500">
                    2001—Prof. Dr. Marcel Lie Ken Jie, Hong Kong <br>
                    2003—Dr. Norio Murata, Japan <br>
                    2005—Dr. T. Foglia, Pennsylvania, USA <br>
                    2007—Dr. K. Sato, Hiroshima, Japan <br>
                    2009—Prof. Paul Trayhurn, University of Liverpool, England <br>
                    2012—Dr. Edward Emken, Illinois, USA <br>
                    2013—Prof. Michael Bockisch, Jesteburg, Germany <br>
                    2015—Dr. Alejandro Marangoni, Ontario, Canada <br>
                    2016—Prof. Yang Yuexin, Beijing, China <br>
                    2018—Prof. Kazuo Miyashita, Hakodate, Japan <br>
                    2020—Dr. Richard Cantrill, Halifax, Canada <br>
                    2022—Dr. Erick Decker Amherst MA, USA
                </p>
            </div>

        </div>

    </div>


</section>
<br><br>







<section class="section-padding pb-0" id="lecureLastest">


    <div class="col-12 mp-lg-5">
        <h2 class="mb-lg-5 text-center" data-aos="fade-up">ISF Lectureship Series Awards</h2>
    </div>

    <div class="col-12 mt-lg-3 mb-lg-5 text-center">
        <p data-aos="fade-up" data-aos-delay="500">
            Access the complete award-winning presentations by clicking on each box
        </p>
    </div>

    <div class="container mt-lg-3 mb-5 pt-lg-3">
        <div class="row mt-lg-5">


            <div class="col-lg-6 col-12 mt-3 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://vimeo.com/734623709/26ad67db3a" target="_blank">
                    <img class="img-fluid" src="assets/images/awardsisf/decker.png" alt="">
                </a>
            </div>

            <div class="col-lg-6 col-12 mt-3 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://asaga.org.ar/kaufmannMemorial/Cantrill.pdf" target="_blank">
                    <img class="img-fluid" src="assets/images/awardsisf/cantrill.png" alt="">
                </a>
            </div>

            <div class="col-lg-6 col-12 mt-3 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://asaga.org.ar/kaufmannMemorial/Miyashita.pdf" target="_blank">
                    <img class="img-fluid" src="assets/images/awardsisf/miyashita.png" alt="">
                </a>
            </div>

            <div class="col-lg-6 col-12 mt-3 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://asaga.org.ar/kaufmannMemorial/YueXin.pdf" target="_blank">
                    <img class="img-fluid" src="assets/images/awardsisf/yuexin.png" alt="">
                </a>
            </div>

            <div class="col-lg-6 col-12 mt-3 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://asaga.org.ar/kaufmannMemorial/MARANGONI.pdf" target="_blank">
                    <img class="img-fluid" src="assets/images/awardsisf/marangoni.png" alt="">
                </a>
            </div>




        </div>
    </div>
    <br><br><br>



</section>
